.vs/slnx.sqlite
.vs/Visual Studio Code/CopilotIndices/17.13.441.19478/CodeChunks.db
.vs/Visual Studio Code/CopilotIndices/17.13.441.19478/CodeChunks.db-wal
.vs/Visual Studio Code/CopilotIndices/17.13.441.19478/SemanticSymbols.db
.vs/Visual Studio Code/CopilotIndices/17.13.441.19478/SemanticSymbols.db-wal
.vs/Visual Studio Code/FileContentIndex/0effc7d8-791e-4cfd-bd8e-1345b2b60246.vsidx
.vs/Visual Studio Code/FileContentIndex/15ea77c8-1e8d-4d24-9ff8-1755837aa009.vsidx
.vs/Visual Studio Code/FileContentIndex/126585b8-9d97-4a7c-a9d4-707d6ae3c49f.vsidx
.vs/Visual Studio Code/FileContentIndex/b37100b5-5a1d-4923-b0d2-c691cb8ebb85.vsidx
.vs/Visual Studio Code/v17/Browse.VC.db
.vs/Visual Studio Code/v17/Browse.VC.opendb
